.boost {
    background-image: url('./assets/bg-boost-desktop.svg');
    background-size: "cover";
    height: 35vh;
    background-repeat:no-repeat; 
};

.shorten {
    background-image: url('./assets/bg-shorten-desktop.svg');
    background-size: "cover";
    height: 30vh;
    background-repeat:no-repeat; 
};
